<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owner Form</title>
</head>
<body>
<h2>Owner</h2>
<form th:object="${owner}" class="form-horizontal" id="add-owner-form" method="post">
    <div class="form-group has-feedback">
        <input th:replace="~{fragment/inputFile::input ('First Name' , 'firstName', 'text')}"/>
        <input th:replace="~{fragment/inputFile::input ('Last Name' , 'lasttName', 'text')}"/>
        <input th:replace="~{fragment/inputFile::input ('Address' , 'address', 'text')}"/>
        <input th:replace="~{fragment/inputFile::input ('City' , 'city', 'text')}"/>
        <input th:replace="~{fragment/inputFile::input ('Telephone' , 'telephone', 'text')}"/>
    </div>
    <div class="form-group">
        <div>
            <button
                    th:with="text=${owner['new']} ? 'Add Owner' : 'Update Owner'"
                    class="btn btn-default" type="submit" th:text="${text}">Add Owner
            </button>
        </div>

    </div>
</form>
</body>
</html>